@charset "UTF-8";

/* =======================================

	CommonElements

======================================= */
html { height:100%;}
body {
	height:100%;
	font-size: 120%;
	line-height: 160%;
	font-family: Times New Roman, Helvetica Neue, Helvetica, "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS P Gothic", Verdana, Arial, sans-serif;
	color: #000;
	text-align: left;
	background: #fff;
	position: relative;
	overflow: hidden;
	visibility: hidden;
	color: #000000;
	box-sizing:border-box;
}

section div{height:100%;}

a:link { text-decoration:nderline; color: #0000ff;}
a:visited { text-decoration:nderline; color: #0000ff;}
a:active { text-decoration:nderline; color: #0000ff;}
a:hover { text-decoration:none; color: #0000ff;}

p {
	padding: 0 0 30px 0;
}

h1 {
	top: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	background: #000;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	position: absolute;
}
h2 {
	top: 0;
	left: 0;
	padding: 30px 0;
	width: 100%;
	font-size: 12px;
	position: absolute;
}

/* #container
--------------------------- */
#container {
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	z-index: 1;
}

/* .stageBase
--------------------------- */
.stageBase {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.stageBase .fieldWrap {
	padding: 100px 0 0 0;
	text-align: left;
}

#stage1{background-color:#ffffff;}
#stage2{background-color:#eeeeee;}
#stage3{background-color:#ffffff;}
#stage4{background-color:#eeeeee;}
#stage5{background-color:#ffffff;}
#stage6{background-color:#eeeeee;}

/* .stageSlide
--------------------------- */
.stageSlide {
	position: relative;
	overflow: hidden;
	visibility: hidden;
}
.stageSlide .slideWrap {
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
}
.stageSlide .slideWrap:before,
.stageSlide .slideWrap:after {
	content: " ";
	display: table;
}
.stageSlide .slideWrap:after {clear: both;}
.stageSlide .slideWrap {*zoom: 1;}

.stageSlide .slidePanel {
	float: left;
	overflow: hidden;
}

.stageSlide .sdPrev,
.stageSlide .sdNext {
	margin-top: -25px;
	top: 50%;
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	z-index: 99;
}
.stageSlide .sdPrev {
	left: 80px;
	background: transparent url(../img/slide_prev.png) no-repeat left top;
}
.stageSlide .sdNext {
	right: 80px;
	background: transparent url(../img/slide_next.png) no-repeat left top;
}

.stageSlide .slideNav {
	bottom: 70px;
	left: 0;
	width: 100%;
	height: 15px;
	text-align: center;
	position: absolute;
	z-index: 98;
}
.stageSlide .slideNav a {
	margin: 0 5px;
	width: 15px;
	height: 15px;
	background: transparent url(../image/nav.jpg) no-repeat center center;
	display: inline-block;
	overflow: hidden;
}
.stageSlide .slideNav a.pnActive {
	background: transparent url(../image/nav_acv.jpg) no-repeat center center;
}

/* #pageNav
--------------------------- */
#pageNav {
	top: 0;
	right: 25px;
	width: 15px;
	text-align: center;
	position: fixed;
	z-index: 10;
}
#pageNav ul {
	width: 15px;
	display: block;
}
#pageNav ul li {
	padding-bottom: 5px;
	width: 15px;
	height: 15px;
	display: block;
	overflow: hidden;
}
#pageNav ul li a {
	width: 15px;
	height: 15px;
	background: transparent url(./image/nav.jpg) no-repeat center center;
	display: block;
}
#pageNav ul li.activeStage a {
	background: transparent url(./image/nav_acv.jpg) no-repeat center center;
}

/* #pageDown
--------------------------- */
#pageDown {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	position: fixed;
	overflow: hidden;
	z-index: 3;
}
#pageDown a {
	margin: 0 auto;
	width: 30px;
	height: 30px;
	background: transparent url(../img/next_arw.png) no-repeat center center;
	display: block;
}


/* ポップアップ
--------------------------- */
p.bandName {
		position:relative;
		padding-top:20px;
		color: #000000;
		font-size:200%;
		text-align:center;
}

p.bandSum {
		position:absolute;
		color: #000000;
		
}

img.bandimg {
		position:relative;
		float:left;
		vertical-align:top; 
		padding-top:0px;
		margin-left:20px;
		margin-right:50px;
		margin-bottom:20px;
		width:300px;
		height:220px;
}

p.bandData {
	margin-left:30px;
	text-align:left;
}	

#lean_overlay{
  position: fixed; z-index:10; 
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}


#div787-1{
  position: absolute;
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  display: none;
  padding: 30px;
  width: 780px;
  height: 300px;
 }
 #div787-2{
  position: absolute;
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  display: none;
  padding: 30px;
  width: 780px;
  height: 300px;
 }


#div787-3{
  position: absolute;
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  display: none;
  padding: 30px;
  width: 780px;
  height: 300px;
 }

#div787-4{
  position: absolute;
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  display: none;
  padding: 30px;
  width: 780px;
  height: 300px;
 }



.modal_close{
  position: absolute;
  top: 12px;
  right: 12px;
  display: block; 
  width: 14px;
  height: 14px; 
  background: url(../image/modal_close.png);
  z-index: 2;
}
