/*header*/
#content {
	z-index:5;
    position: relative;
}
header {
    position: absolute;
    top: auto;
    background: #333;
    width: 100%;
    text-align: center;
}
#content .follow {
    position: fixed;
   top: 0;
}
a {
      text-decoration:none;
}



.motorock_header{
  z-index:auto;
  background-color: #000000;
  padding-top:80px;
  color: #ffffff;
}

#header_title{
  z-index:auto;
  color: #ffffff;
}

.header_part1{
   z-index:auto;
  background-color: #ffffff;
  padding-top: 5px;
}

.header_part2{
   z-index:auto;
   background-color: #ff0000;
  padding-top: 7px;
}

.header_part3{
   z-index:auto;
  background-color: #000000;
  padding-top: 8px;
}

.top_link {
	z-index:auto;
	position:absolute;
	top:20px;
	left:20px;
	font-size:40px;
	padding:10px;
}

.top_link a span{
	color: #ffffff;
}

.top_link:hover{
	background: #666;
}
.motorock_header_list{
   z-index:auto;
  position:absolute;
  width:70%;
  height:40px;
  top:20px;
  right:0%;
  padding-left:5%;
  padding-right:5%;
}

.motorock_header_list li{
   z-index:auto;
  display:inline-block;
  font-size:30px;
  list-style-type:none;
  color:#FFFAFA;
  padding:10px;
}

.motorock_header_list li:hover{
    background:#666;
}

.motorock_header_list_top span{
   z-index:auto;
  color:#FFFFFF;
}

.motorock_header_list li span{
   z-index:auto;
  color:#e50000;
}

/*contents*/

.top_background{
	position:relative;
	padding:100px;
  /*
   background-color: #696969;
   * */
}

.top_image{
	z-index:auto;
  background-image:url('../image/top_image.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  position:absolute;
  left:10%;
  right:10%;
  width:80%;
  height:60%;
  opacity:0.8;
}

.top_info {
	z-index:auto;
	font-size:80px;
	text-align:center;
	line-height:140%;
	opacity:1.0;
	color:#3DB2D2;
}

#title{
  text-align: center;
  font-size: 60px;
  font-weight: normal;
  color: #000000;
}

.about_information{
  position:relative;
  padding:100px;
  color: #000000;
}

.about_information h2{
}

.about_information_list li{
  list-style-type:none;
  text-align: left;
  font-size:120%;
  line-height:150%;
  font-weight:bold;
}

.about_info {
	position:absolute;
	width:auto;
	height:auto;
	right:100px;
	left:100px;
	padding:5%;
}
  
#title span{
  color:#e50000;
}
.about_information_list{
  float:left;
}


.live{
  position:relative;
  padding:100px;
  color: #000000;
}

.live li{
  list-style-type:none;
  text-align: left;
  font-size:120%;
  line-height:150%;
  font-weight:bold;
}

.live_info {
	position:absolute;
	width:auto;
	height:20%;
	padding:5%;
	padding-bottom:2%;
}

.live_before {
	position:absolute;
	top:30%;
	margin-top:100px;
	width:auto;
	height:15%;
	padding:5%;
	padding-top:2%;
}

.band{
  position:relative;
  padding:100px;
}

.motorock_member{
 /* border:1px solid #000000;*/
}

.motorock_member div{
  background-image:url('../image/noimage1.jpg');
  background-size:contain;
  background-repeat:no-repeat;
  padding:100px;
  margin:10px;
  float:left;
}

img.bandimage{
		width:160px;
		height:120px;
		padding:30px;
		margin-left:auto;
		margin-right:auto;
		display:inline;
}


.event{
	height: 100%;
  position:relative;
  padding:100px;
}

.event h2{
}

.calendar{
  background-image:url('../image/noimage2.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  position:absolute;
  margin-top:100px;
  left:10%;
  top:5%;
  width:30%;
  height:30%;
  padding:5%;
}

.event_info {
	position:absolute;
	right:10%;
	width:30%;
	height:30%;
	padding:5%;
}

.event_info li{
  list-style-type:none;
  text-align: left;
}

.contact{
  position:relative;
  padding: 100px;
}

.map{
  background-image:url('../image/noimage1.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  position:absolute;
  margin-top:100px;
  top:5%;
  left:10%;
  width:30%;
  height:30%;
  padding:5%;
}

.contact_info{
  position: absolute;
  height:30%;
  width:30%;
  padding:5%;
  right:10%;
  text-align: left;
}

/*footer*/
.motorock_footer{
	z-index:auto;
  background-color:rgba(51,51,51,0.8);
  width:100%;
  height:5%;
  position:absolute;
  bottom:0px;
}

.footer_contents{
	z-index:auto;
	width:50%;
	height:50%;
	position:absolute;
	right:10%;
	top:25%;
}


 /*clearfix*/ 
.clearfix:before,
.clearfix:after{
content: "";
display: block;
} 
.clearfix:after{
clear: both;
}
.clearfix{
 *zoom: 1;
}

