@charset "UTF-8";
/*header*/
#content {
	z-index:5;
	position: relative;
}
header {
	position: absolute;
	top: auto;
	background: #333;
	width: 100%;
	text-align: center;
}
#content .follow {
	position: fixed;
	top: 0;
}
a {
	text-decoration:none;
}



.motorock_header{
	z-index:auto;
	background-color: #000000;
	padding-top:80px;
	color: #ffffff;
}

.motorock_header a {
	color:#ffffff;
	font-style:normal;
}

#header_title{
	z-index:auto;
	color: #ffffff;
}

.header_part1{
	z-index:auto;
	background-color: #ffffff;
	padding-top: 5px;
}

.header_part2{
	z-index:auto;
	background-color: #ff0000;
	padding-top: 7px;
}

.header_part3{
	z-index:auto;
	background-color: #000000;
	padding-top: 8px;
}

.top_link {
	z-index:auto;
	position:absolute;
	top:20px;
	left:20px;
	font-size:40px;
	padding:10px;
}

.top_link a span{
	color: #ffffff;
}

.top_link:hover{
	background: #666;
}
.motorock_header_list{
	z-index:auto;
	position:absolute;
	width:70%;
	height:40px;
	top:20px;
	right:0%;
	padding-left:5%;
	padding-right:5%;
}

.motorock_header_list li{
	z-index:auto;
	display:inline-block;
	font-size:30px;
	list-style-type:none;
	color:#FFFAFA;
	padding:10px;
}

.motorock_header_list li:hover{
	background:#666;
}

.motorock_header_list_top span{
	z-index:auto;
	color:#FFFFFF;
}

.motorock_header_list li span{
	z-index:auto;
	color:#e50000;
}

/*contents*/

.top_background{
	position:relative;
	padding:5%;
	/*
	background-color: #696969;
	 * */
}

.top_image{
	z-index:auto;
	position:absolute;
	width:70%;
	height:400%;
	top:50%;
	left:15%;
	right:10%;
}

.top_image img {
	position:absolute;
	width:100%;
	height:100%;
	opacity:0.8;
}

.top_info {
	z-index:auto;
	font-size:80px;
	text-align:center;
	line-height:140%;
	opacity:1.0;
	color:#3DB2D2;
}

#title{
	text-align: center;
	font-size: 4em;
	font-weight: normal;
	color: #111111;
}

.about_information{
	position:relative;
	padding:5%;
	color: #111111;
}

.about_information h2{
}

.about_information_list li{
	list-style-type:none;
	text-align: left;
	font-size:120%;
	line-height:150%;
	font-weight:bold;
}

.about_info {
	position:absolute;
	width:auto;
	height:auto;
	right:5%;
	left:5%;
	padding:5%;
	top:10%;
}

#title span{
	color:#e50000;
}
.about_information_list{
	float:left;
}


.live{
	position:relative;
	padding:5%;
	color: #444444;
	font-size:120%;
}

.live_image {
	position:absolute;
	width:35%;
	height:140%;
	left:10%;
	margin-bottom:10%;
	padding-right:5%;
	top:15%;
}

.live_image img{
	position:absolute;
	width:100%;
	height:100%;
}

.live_info {
	position:absolute;
	width:35%;
	height:35%;
	left:55%;
	padding:5%;
	top:10%;
	text-align:left;
}

.live_info li{
	list-style-type:none;
	color:#111111;
}

.date_info {
	font-size:120%;
	color:#444444;
}

.live li{
	list-style-type:none;
	text-align: left;
	line-height:150%;
	font-weight:bold;
}

.band{
	position:relative;
	padding:5%;
	color:#111111;
}

.band_contents {
	position:absolute;
	width:auto;
	height:auto;
	right:5%;
	left:5%;
	top:10%;
	bottom:5%;
	text-align:center;
}

img.bandimage{
	width:25%;
	height:170%;
	padding:3%;
	padding-top:5%;
	margin-left:auto;
	margin-right:auto;
	display:inline;
}


.event{
	height: 100%;
	position:relative;
	padding:5%;
	color:#444444;
}

.event h2{
}

.calendar{
	position:absolute;
	left:10%;
	width:25%;
	height:100%;
	padding:5%;
	top:10%;
}

.calendar img {
	position:absolute;
	width:100%;
	height:100%;
}

.event_info li{
	list-style-type:none;
	text-align: left;
	font-size:120%;
	line-height:150%;
	font-weight:bold;
}

.event_info {
	position:absolute;
	height:30%;
	width:30%;
	right:5%;
	padding:5%;
	top:10%;
}

.event_before {
	position:absolute;
<<<<<<< HEAD
	top:70%;
	margin-top:20%;
=======
	top:48%;
	margin-top:5%;
>>>>>>> e966231eb43ec53b953ff7f0d8a0017469f2df30
	width:auto;
	height:15%;
	left:5%;
	padding:5%;
}

.contact {
	position:relative;
	padding: 5%;
	color:#111111;
}

.map1{
	position:absolute;
	left:9%;
	width:40%;
<<<<<<< HEAD
	height:190%;
=======
	height:45%;
	top:15%;
>>>>>>> e966231eb43ec53b953ff7f0d8a0017469f2df30
}

.map2 {
	position:absolute;
	width:35%;
	height:150%;
	right:9%;
	top:15%;
}

.map1 img {
	position:absolute;
	width:100%;
	height:100%;
}

.map2 img {
	position:absolute;
	width:100%;
	height:100%;
}

.contact_info{
	position: absolute;
	height:15%;
	width:35%;
	padding:5%;
	top:35%;
	right:4%;
	text-align: left;
}

.contact_mail {
	position:absolute;
	height:3%;
	width:30%;
	padding-right:5%;
	padding-left:5%;
	top:47%;
	right:9%;
	text-align: left;
<<<<<<< HEAD
	top:270%;
=======
>>>>>>> e966231eb43ec53b953ff7f0d8a0017469f2df30
	font-size:120%;
}

/*footer*/
.motorock_footer{
	z-index:auto;
	background-color:rgba(51,51,51,0.8);
	width:100%;
	height:5%;
	position:absolute;
	bottom:0px;
}

.footer_contents{
	z-index:auto;
	width:50%;
	height:50%;
	position:absolute;
	right:10%;
	top:25%;
}


/*clearfix*/ 
/*
.clearfix:before,
.clearfix:after{
	content: "";
	display: block;
} 
.clearfix:after{
	clear: both;
}
.clearfix{
	*zoom: 1;
}
*/
